.logo {
  margin-bottom: 2em;
}
.logo img {
  width: 100px;
}

#budsock-animation {
  width: 100%;
  text-align: center;
  display: table;
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
}

#budsock-animation .hide-top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 10%;
  background: white;
  z-index: 1000;
}

.social {
  margin-top: 5em;
  text-align: center;
}
